/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Jost:wght@300;400;600&display=swap");

/* Common */

* {
    margin: 0;
    padding: 0;
    border: none;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
    background: url(../images/background/main.png) center top no-repeat;
}

h1,
h2,
h3 {
    font-family: Jost, sans-serif;
    font-weight: 600;
}

body {
    font-family: Fredoka, sans-serif;
    color: #ffffff;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.highlight {
    color: #9d79d1;
    text-decoration: none;
}

/* Title Page */

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title > h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 6.875em;
    padding-top: 5.4vh;
    transition: 0.5s;
    cursor: pointer;
    background-clip: text;
    -webkit-background-clip: text;
}

#title > h1:hover {
    letter-spacing: 10px;
}

/* Main Menu */

#main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.4vh 0 3.8vh 0;
    overflow: auto;
}

#main-menu > a {
    position: relative;
}

/* Buttons */

.btn {
    display: inline-block;
    transform: skew(-7deg);
    font-weight: 400;
    font-size: 30px;
    padding: 25px 50px;
    margin: 25px 0px 25px 0px;
    width: 15%;
    white-space: normal;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1;
}

.btn > span {
    display: inline-block;
    transform: skew(7deg);
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    z-index: -1;
}

.btn:hover,
.btn:focus {
    color: #ffffff;
    transition: 0.5s ease-in-out;
    background: #5c27fe;
}

.btn:not(:hover),
.btn:not(:focus) {
    transition: 0.5s ease-in-out;
}

.difficulty-btn,
.leaderboards-btn {
    font-size: 20px;
    padding: 25px 25px;
    color: #5c27fe;
}

.difficulty-btn::before,
.leaderboards-btn::before {
    border: 2px solid #5c27fe;
}

.difficulty-btn:hover,
.difficulty-btn:focus,
.leaderboards-btn:hover,
.leaderboards-btn:focus {
    color: #ffffff;
    background: #5c27fe;
}

/* Game Area */

#game-area {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vh 0 3.9vh 0;
}

/* Memory Game */

#memory-game {
    display: none;
}

#board-container {
    position: relative;
}

#game-stats {
    display: none;
    gap: 20px;
    padding-bottom: 9.6vh;
    color: #fff;
    font-size: 14pt;
}

.board,
#win {
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: url("../images/background/game.png") center center no-repeat;
    background-size: cover;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
    overflow: hidden;
}

.board > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.board > span:nth-child(1) {
    transform: rotate(0deg);
}

.board > span:nth-child(2) {
    transform: rotate(90deg);
}

.board > span:nth-child(3) {
    transform: rotate(180deg);
}

.board > span:nth-child(4) {
    transform: rotate(270deg);
}

.board > span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
    border-radius: 5px;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.board {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    border: 2px solid #2a3cad;
}

#board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

#board-container.flipped .board > span {
    display: none;
}

#board-container.flipped #win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background: #090949;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden; /* This is to hide the back of an element here, specifically, the card. It means that when flipped, the emoji won't be visible */
}

.card-back {
    font-size: 28px;
    text-align: center;
    line-height: 100px;
    background: #fdf8e6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.card.shake {
    animation: shake 0.4s ease-in-out 0.4s;
}
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-7px);
    }
    40% {
        transform: translateX(7px);
    }
    60% {
        transform: translateX(-4px);
    }
    80% {
        transform: translateX(4px);
    }
}

#win {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fdf8e6;
    transform: rotateY(180deg) rotateZ(50deg);
    z-index: 3;
}

#win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282a3a;
    z-index: 3;
}

/* Rules & Difficulty */

#rules-difficulty {
    display: none;
    width: 600px;
    height: auto;
    background: #f8f8f8;
    border-radius: 25px;
    padding: 25px 25px 36px 25px;
    background: url("../images/background/settings.png") center top no-repeat;
    background-size: cover;
}

#rules-difficulty > h2 {
    font-size: 2em;
    color: #28167b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0 25px 0;
}

#instructions {
    color: #7a7594;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
}

/* Leaderboards */

#leaderboards {
    display: none;
    width: 600px;
    height: auto;
    background: #f8f8f8;
    border-radius: 25px;
    padding: 25px 25px 36px 25px;
    background: url("../images/background/settings.png") center top no-repeat;
    background-size: cover;
}

#leaderboards > h2 {
    font-size: 2em;
    color: #28167b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0 25px 0;
}

/* Credits */

#credits {
    display: none;
    width: 600px;
    height: auto;
    background: #f8f8f8;
    border-radius: 25px;
    padding: 25px 25px 36px 25px;
    background: url("../images/background/settings.png") center top no-repeat;
    background-size: cover;
}

#credits > h2 {
    font-size: 2em;
    color: #28167b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0 25px 0;
}

#credits > #container > p {
    color: #7a7594;
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
}

/* Back Button */

#back-button {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.9vh 0 3.8vh 0;
    overflow: auto;
}

/* Footer */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2.9vh 0 9.4vh 0;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    color: #ffffff;
    border: 2px solid #ffffff;
    overflow: hidden;
    text-decoration: none;
}

.social-icons:last-child {
    margin-right: 0px;
}

.social-icons > i {
    position: relative;
    z-index: 3;
}

.social-icons:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #5c27fe;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.social-icons:hover:after {
    top: 5%;
}

/* Transition Effect */

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries */

@media (min-width: 768px) {
    .btn {
        width: 30%;
    }
    .difficulty-btn,
    .leaderboards-btn {
        width: 25vw;
    }
    #board-6 {
        width: 580px;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        height: 80px;
        width: 80px;
    }
    .card-back {
        display: flex;
        align-items: center;
        line-height: 0;
        justify-content: center;
        font-size: 25px;
    }
    #rules-difficulty,
    #leaderboards,
    #credits {
        width: 75vw;
    }
}

@media (min-width: 992px) {
    .btn {
        width: 30%;
    }
    .difficulty-btn,
    .leaderboards-btn {
        width: 30%;
    }
    #board-6 {
        width: 700px;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        height: 100px;
        width: 100px;
    }
    .card-back {
        display: flex;
        align-items: center;
        line-height: 0;
        justify-content: center;
        font-size: 28px;
    }
    #rules-difficulty,
    #leaderboards,
    #credits {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .btn {
        width: 15%;
    }
    .difficulty-btn,
    .leaderboards-btn {
        width: 30%;
    }
}

/* For 1080p ++ */

@media (min-width: 2000px) {
    .btn {
        width: 20%;
    }

    #title > h1 {
        font-size: 8.75em;
    }
}

@media (max-width: 768px) {
    .btn {
        width: 45%;
        font-size: 25px;
    }

    #title > h1 {
        font-size: 15vw;
    }
    .difficulty-btn,
    .leaderboards-btn {
        width: 40vw;
        font-size: 13pt;
    }
    #board-6 {
        width: 400px;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        height: 50px;
        width: 50px;
    }
    .card-back {
        display: flex;
        align-items: center;
        line-height: 0;
        justify-content: center;
        font-size: 20px;
    }
    #rules-difficulty,
    #leaderboards,
    #credits {
        width: 80vw;
    }
}

@media (max-width: 480px) {
    .btn {
        width: 45%;
    }
    .difficulty-btn,
    .leaderboards-btn {
        width: 50vw;
    }
    .difficulty-btn > span,
    .leaderboards-btn > span {
        font-size: 0.7em;
    }
    #board-6 {
        width: 240px;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        height: 45px;
        width: 45px;
    }
    .card-back {
        display: flex;
        align-items: center;
        line-height: 0;
        justify-content: center;
        font-size: 17px;
    }
    #rules-difficulty,
    #leaderboards,
    #credits {
        width: 75vw;
    }
    #rules-difficulty > h2,
    #leaderboards > h2,
    #credits > h2 {
        font-size: 1.5em;
    }
    #instructions,
    #credits > #container > p {
        font-size: 1em;
        padding: 25px 10px 36px 10px;
    }
    #win-text {
        font-size: 14pt;
    }
}

@media (max-width: 320px) {
    .btn {
        width: 55%;
    }
    #title > h1 {
        font-size: 15vw;
    }
    .difficulty-btn,
    .leaderboards-btn {
        width: 45vw;
    }
    .difficulty-btn > span,
    .leaderboards-btn > span {
        font-size: 0.7em;
    }
    #board-6 {
        width: 130px;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        height: 30px;
        width: 30px;
    }
    .card-back {
        display: flex;
        align-items: center;
        line-height: 0;
        justify-content: center;
        font-size: 12px;
    }
    #rules-difficulty,
    #leaderboards,
    #credits {
        width: 60vw;
    }
    #rules-difficulty > h2,
    #leaderboards > h2,
    #credits > h2 {
        font-size: 1em;
    }
    #instructions,
    #credits > #container > p {
        font-size: 0.7em;
        padding: 25px 5px 36px 5px;
    }
    #win-text {
        font-size: 12pt;
    }
}

@media (max-width: 240px) {
    .btn {
        width: 40%;
        font-size: 15px;
    }
    .difficulty-btn,
    .leaderboards-btn {
        width: 40vw;
    }
    .difficulty-btn > span,
    .leaderboards-btn > span {
        font-size: 0.6em;
    }
}

/* For modern phone screens that have much bigger resolutions than before */
@media (min-width: 900px) and (min-height: 2000px) {
    #game-stats {
        font-size: 20pt;
        padding-bottom: 6.8vh;
    }
}