/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Josefin+Sans:wght@300;400;700&display=swap');

/* Common */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    width: 100%;
    height: 100%;
    background: url(../images/background.png);
}

/* Title Page */

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title > h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 80px;
    padding-top: 100px;
}